<html lang="ja" dir="ltr">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}フィギュアスケートのジャンプの出来栄え点評価{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #00b9f1;">
        <span class="navbar-brand mb-0 h1">フィギュアスケートのジャンプの出来栄え点評価</span>
        <!-- ログアウト機能の追加 -->
        {% if user.is_authenticated %}
        <span style="font-size:15px; text-align: right;">
            <!-- ログアウトのURLに移動するように処理 -->
            <a href="{% url 'logout' %}" style="color:white; text-decoration: underline;">
                こんにちは、{{ user.username}}さん
            </a>
        </span>
        {% endif %}
    </nav>

    <div class='contents' style="margin:0 20px">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>